<h1>Registrarse</h1>

<img src="https://afckstechnologies.in/img/public_blue_users.png">

<div class="center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <label>Correo Electrónico</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field' %>

    <label>Contraseña</label>
    <%= f.password_field :password, autocomplete: "new-password" , class: 'field'%>

    <label>Confirmar Contraseña</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'field' %>

  <div class="actions">
    <%= f.submit "Registrarse", class: 'button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
